Makefile.in
aclocal.m4
autom4te.cache/
build-aux/
config.guess
config.h.in
config.h.in~
config.sub
configure
depcomp
doc/es/faked.1
doc/es/fakeroot.1
doc/fr/faked.1
doc/fr/fakeroot.1
doc/nl/faked.1
doc/nl/fakeroot.1
doc/sv/faked.1
doc/sv/fakeroot.1
faked.1
fakeroot.1
install-sh
ltmain.sh
missing
cconfig.guess
config.sub
.deps/
Makefile
arch/Makefile
arch/linux/Makefile.template
arch/linux/os.lo
arch/linux/x86_64/.deps/
arch/linux/x86_64/Makefile
arch/linux/x86_64/*.a
arch/linux/x86_64/*.lo
arch/linux/x86_64/*.o
build-stamp
config.h
config.log
config.status
debian/fakeroot.debhelper.log
debian/fakeroot.substvars
debian/fakeroot/
debian/files
fakeroot
*.o
*.a
stamp-h1
tests/.deps/
tests/Makefile
tests/*.a
tests/*.o
tests/calc_defaults
tests/exercise
tests/fbomb
tests/getsiginfo
tests/pwd
tests/thread
tests/wait_test
*~
.libs
*.lo
*.la
libtool
faked
compile
fakerootconfig.h
simple
test-driver
test/defs
wrapdef.h
wrapped.h
wrapstruct.h
wraptmpf.h

